@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h2>Monitoramento de Návios</h2>
    <form>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"> a </span>
            <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1" />
        </div>
    </form>
</div>
